- name: update homebrew
  community.general.homebrew:
    update_homebrew: true

- name: upgrade homebrew
  community.general.homebrew:
    upgrade_all: true

- name: Add fluxcd tap
  homebrew_tap:
    name: fluxcd/tap

- name: install homebrew packages
  community.general.homebrew:
    name:
      - argo
      - awscli
      - bat
      - cilium-cli
      - colima
      - docker
      - docker-compose
      - eza
      - fluxcd/tap/flux
      - gemini-cli
      - gh
      - git
      - goenv
      - helm
      - helmfile
      - jnv
      - jq
      - k3d
      - k9s
      - kubectl
      - kustomize
      - mas
      - nodenv
      - peco
      - pyenv
      - shellcheck
      - starship
      - tfenv
      - trash-cli
      - rbenv
      - yarn
      - yq
      - zsh-autosuggestions
      - zsh-completions
      - zsh-syntax-highlighting
